{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block header %}
  {% embed "common/header.html.twig" %}
      {% block masthead_style %}
        {% if post.image is defined %}
          style="background-image: url({{ asset( post.image ) }})"
        {% endif %}
      {% endblock %}
    {% block heading %}
      <div class="post-heading">
        <h1>{{ post.title }}</h1>
        <h2 class="subheading">{% if post.subtitle is defined %}{{ post.title }} {% endif %}</h2>
        <span class="meta">Posted by <a href="#!">Start Bootstrap</a> on August 24, 2022</span>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-lg-8">
      {{ component('action_post', {post: post}) }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <!-- Post Content-->
      <article class="mb-4">
        <section class="mb-5">
          {{ post.body }}
        </section>
        <footer>
          <!-- Post Tags-->
          <div class="row">
            <div class="col-12">
              {% for tag in post.tags %}
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ tag.name }}</a>
              {% endfor %}
            </div>
          </div>
          <div class="row py-4">
            <div class="col-12">
              <div class="bg-light shadow border rounded-3 p-4">
                <h3 class="font-weight-light">
                  Add your own feedback
                </h3>
                {{ form(comment_form) }}
              </div>
            </div>
          </div>
        </footer>
      </article>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
      </div>
    </div>
  </div>
{% endblock %}
